html{
    background:url("AMRITA-01.jpg") no-repeat;
    background-size: cover;
    height:100%;
    background-color: #000;
    background-attachment: fixed;
 }
 * {
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-font-smoothing:antialiased;
    -moz-font-smoothing:antialiased;
    -o-font-smoothing:antialiased;
    font-smoothing:antialiased;
    text-rendering:optimizeLegibility;
 }
 body {
    color: #C0C0C0;
    font-family: Arial, san-serif;
 }
 
 
 /* Contact Form Styles */
 h1 {
    margin: 10px 0 0 0;
 }
 h4{
    margin: 0 0 20px 0;
 }
 #contact-form {
    background-color:rgba(72,72,72,0.9);
    padding: 10px 20px 30px 20px;
    max-width:100%;
    margin: auto;
    width: 45%;
    margin-top: 30px;
    border-radius:7px;
    -webkit-border-radius:7px;
    -moz-border-radius:7px;
 }
 #contact-form input,   
 #contact-form select,   
 #contact-form textarea,   
 #contact-form label { 
    font-size: 15px;  
    margin-bottom: 2px;
    font-family: Arial, san-serif;
 } 
 #contact-form input,   
 #contact-form select,   
 #contact-form textarea { 
    width:100%;
    background: #fff;
    border: 0; 
    -moz-border-radius: 4px;  
    -webkit-border-radius: 4px;  
    border-radius: 4px;
    margin-bottom: 25px;  
    padding: 5px;  
 }  
 #contact-form input:focus,   
 #contact-form select:focus,   
 #contact-form textarea:focus {  
    background-color: #E5E6E7; 
 }  

 #contact-form button[type="submit"] {
    cursor:pointer;
    width:100%;
    border:none;
    background:#991D57;
    background-image:linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
    background-image:-moz-linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
    background-image:-webkit-linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
    color:#FFF;
    margin:0 0 5px;
    padding:10px;
    border-radius:5px;
 }
 #contact-form button[type="submit"]:hover {
    background-image:linear-gradient(bottom, #9C215A 0%, #A82767 52%);
    background-image:-moz-linear-gradient(bottom, #9C215A 0%, #A82767 52%);
    background-image:-webkit-linear-gradient(bottom, #9C215A 0%, #A82767 52%);
    -webkit-transition:background 0.3s ease-in-out;
    -moz-transition:background 0.3s ease-in-out;
    transition:background-color 0.3s ease-in-out;
 }
 #contact-form button[type="submit"]:active {
    box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);
 }
 input:required, textarea:required {  
    box-shadow: none;
    -moz-box-shadow: none;  
    -webkit-box-shadow: none;  
    -o-box-shadow: none;  
 } 
 #contact-form .required {  
    font-weight:bold;  
    color: #E5E6E7;      
 }
 
 /* Hide success/failure message
    (especially since the php is missing) */
 #failure, #success {
    color: #6EA070; 
    display:none;  
 }
 
