html{
    background:url("AMRITA-01.jpg") no-repeat;
    background-size: cover;
    height:100%;
    background-color: #000;
    background-attachment: fixed;
 }

 body {
    color: black;
    font-family: Arial, san-serif;
 }
 
 .htmltable {
   margin: auto;
   font-size: 0.9em;
   font-family: sans-serif;
   min-width: 400px;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
   background-color: whitesmoke;
   opacity: 0.9;
   width: 100%;
   margin-top: 30px;
   overflow: scroll;
}

.wrapper
{
   overflow-x: auto;
}

td {
    border-bottom: 1px solid #ddd;
    padding: 5px;
    }

    th{
        border-bottom: 1px solid #ddd;
        padding: 5px;
        background-color: rgb(146, 21, 17); 
        color: rgb(241, 206, 7); 
    }
  
tr:hover {background-color: lightgrey;}